.rooms-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.rooms-display__room-list {
  display: flex;
  gap: 1rem;
}