.room-small__wrapper {
  width: 100% !important;
}

.room-small {
  aspect-ratio: 1.5/1;
  width: 15rem;
  border-radius: 5px;
  padding: .5rem;
  background-color: var(--room-bg);
  cursor: pointer;
  width: 100%;
}

.room-small__title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--room-s-title-bg);
  border-radius: 4px;
  margin-bottom: .5rem;
  color: var(--room-s-title-font);
}
.room-small__title > h2 {
  margin: 0;
}

.room-small__users {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.room-small__user-small {
  background-color: var(--room-s-user-bg);
  width: min-content;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  color: var(--room-s-user-font);
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}