.room-small {
  aspect-ratio: 1.5/1;
  width: 15rem;
  border-radius: 5px;
  padding: .5rem;
  background-color: var(--room-bg);
  cursor: pointer;
}

.room-small__title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--room-s-title-bg);
  border-radius: 4px;
  margin-bottom: .5rem;
  color: var(--room-s-title-font);
}
.room-small__title > h2 {
  margin: 0;
}

.room-small__users {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.room-small__user-small {
  background-color: var(--room-s-user-bg);
  width: min-content;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  color: var(--room-s-user-font);
}