.chat__window {
  width: 100%;
  background-color: var(--controller-bg);
  border: 2px solid var(--controller-digi-bg);
  border-radius: 4px;
  padding: .5rem;
  height: 20rem;
  overflow: auto;
  text-wrap: wrap;
  display: flex;
  flex-direction: column-reverse;
  max-height: 300px;
}

.chat__input-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.chat__send,
.chat__input {
  height: 35px;
  font-size: 1rem;
  border: 1px solid var(--button-border);
  outline: inherit;
  margin-top: .5rem;
}
.chat__send {
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  background-color: var(--button-bg);
  border-left: 0;
  border-color: var(--button-border);
  color: var(--button-font);
  padding: 0 1rem;
}
.chat__input {
  border-right: none;
  border-radius: 6px 0 0 6px;
  width: 100%;
}

.chat__entry-wrapper {
  background-color: rgb(40, 86, 112);
  padding: .5rem .2rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: .5rem;
  margin-bottom: .3rem;
}

.chat__entry-user {
  background-color: rgb(0, 218, 116);
  padding: .1rem .5rem;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 1.2em;
  display: inline;
  height: fit-content;
}

.chat__entry-message {
  display: inline;
  line-height: 1.2;
  margin-top: 4px;
  word-break: break-word;
}

.chat-anchor {
  overflow-anchor: auto;
  height: 1px;
}
.chat__no-anchor {
  overflow-anchor: none;
}

.chat__color-select {
  background-color: transparent;
  cursor: pointer;
  margin: 0 .3rem;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: 0;
  align-self: end;
  position: relative;
  bottom: 1px;
  border-radius: 20px;
}