.controller {
  width: 15rem;
  border: 2px solid var(--controller-digi-bg);
  border-radius: 10px;
  background-color: var(--controller-bg);
  padding: .5rem;
}
.controller.mini {
  width: 15rem;
  padding: .5rem;
  text-align: center;
  border-radius: 10px;
}

.controller__title {
  background-color: var(--controller-digi-bg);
  width: 100%;
  border-radius: 3px;
  padding: .2rem 1rem;
  text-transform: uppercase;
  color: var(--controller-digi-font);
  border: 2px solid var(--controller-digi-border);
  font-size: 1.2rem;
  font-family: 'techno';
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}
.controller__title.mini {
  background-color: var(--controller-digi-bg);
}

.controller__controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-top: .3rem;
}

.controller__window {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.controller__window.mini {
  display: flex;
}

.controller__small-window {
  color: var(--controller-digi-off);
  padding: .3rem .5rem;
  border: 2px solid var(--controller-digi-border);
  border-radius: 3px;
  background-color: var(--controller-digi-bg);
  display: grid;
  place-items: center;
  font-family: 'techno';
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  width: 100%;
}
.controller__small-window.mini {
  width: 100%;
}

.afk.true {
  color: var(--controller-digi-afk);
}
.hand.up {
  color: var(--controller-digi-hand);
}

.controller__small-window-button.mini {
  display: none;
}

.controller__comment-input {
  width: 100%;
  border-radius: 3px;
  outline: 0;
  border: 2px solid var(--controller-digi-border);
  height: 5rem;
  color: var(--controller-comment-font);
  background-color: var(--controller-digi-bg);
  text-wrap: wrap;
  resize: none;
  overflow: hidden;
  display: block;
}
.controller__comment-input.match {
  border-color: var(--controller-comment-green);
}
.controller__comment-input.un-match {
  border-color: var(--controller-comment-red);
}
.controller__comment.mini {
  display: none;
}

.controller__comment-submit {
  margin-top: .3rem;
  outline: none;
  border: 0 solid var(--button-border);
  background-color: var(--button-bg);
  color: var(--button-font);
  padding: .1rem 1rem;
  border-radius: 4px;
  font-size: 1.05rem;
  text-transform: uppercase;
}