.controller {
  width: 15rem;
  border: 2px solid var(--controller-digi-bg);
  border-radius: 4px;
  background-color: var(--controller-bg);
  padding: .5rem;
  height: fit-content;
}
.controller.mini {
  width: 15rem;
  padding: .5rem;
  text-align: center;
  border-radius: 4px;
}

.controller__title {
  background-color: var(--controller-digi-bg);
  width: 100%;
  border-radius: 3px;
  padding: .2rem 1rem;
  text-transform: uppercase;
  color: var(--controller-digi-font);
  border: 2px solid var(--controller-digi-border);
  font-size: 1.2rem;
  font-family: 'techno';
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}
.controller__title.mini {
  background-color: var(--controller-digi-bg);
}

.controller__controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-top: .3rem;
}

.controller__window {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.controller__window.mini {
  display: flex;
}

.controller__small-window {
  color: var(--controller-digi-off);
  padding: .3rem .5rem;
  border: 2px solid var(--controller-digi-border);
  border-radius: 3px;
  background-color: var(--controller-digi-bg);
  display: grid;
  place-items: center;
  font-family: 'techno';
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  width: 100%;
}
.controller__small-window.mini {
  width: 100%;
}

.afk.true {
  color: var(--controller-digi-afk);
}
.hand.up {
  color: var(--controller-digi-hand);
}

.controller__small-window-button.mini {
  display: none;
}