.controller {
  width: 15rem;
  border: 3px solid rgb(29, 29, 29);
  border-radius: 10px;
  background-color: grey;
  padding: .5rem;
}
.controller.mini {
  width: 10rem;
  padding: .5rem;
  text-align: center;
  border-radius: 10px;
}

.controller__title {
  background-color: rgb(31, 31, 31);
  width: 100%;
  border-radius: 3px;
  padding: .2rem 1rem;
  text-transform: uppercase;
  color: yellow;
  border: 2px solid black;
  font-size: 1.2rem;
}
.controller__title.mini {
  background-color: rgb(31, 31, 31);
}

.controller__controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-top: .3rem;
}

.controller__window {
  display: flex;
  justify-content: space-between;
}

.controller__small-window {
  color: black;
  padding: .3rem .5rem;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(31, 31, 31);
  display: grid;
  place-items: center;
}
.icon {
  font-size: 1.4em;
}
.controller__small-window.mini {
  width: 100%;
}

.afk.true {
  color: red;
}
.hand.up {
  color: yellow;
}

.controller__small-window-button.mini {
  display: none;
}

.controller__comment-input {
  width: 100;
  border-radius: 3px;
  outline: 0;
  border: 2px solid black;
  height: 5rem;
  color: white;
  background-color: rgb(31, 31, 31);
  text-wrap: wrap;
  resize: none;
}
.controller__comment.mini {
  display: none;
}