.room-full__wrapper {
  width: 100%;
}

.room-full {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: .5rem;
}

.room-full__space {
  background-color: var(--room-bg);
  padding: 1rem .3rem;
  border-radius: 10px;
  width: 100%;
}
.room-full__space.controllers {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-content: flex-start;
}

.room-full__room-title {
  text-transform: capitalize;
  margin: 0;
  margin-bottom: .2rem;
  margin-left: .5rem;
}

.leave-room-wrapper {
  text-align: right;
  display: block;
  flex-basis: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 375px){
  .room-full {
    gap: .5rem;
    display: grid;
    grid-template-columns: 1fr 45%;
  }
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}