.room-full__wrapper {
  width: 100%;
}

.room-full {
  position: relative;
  width: 100%;
  display: flex;
  gap: .5rem;
  display: grid;
  grid-template-columns: 1fr 45%;
}

.room-full__space {
  background-color: var(--room-bg);
  padding: 1rem .3rem;
  border-radius: 10px;
  width: 100%;
}
.room-full__space.controllers {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-content: flex-start;
}

.room-full__room-title {
  text-transform: capitalize;
  margin: 0;
}

.leave-room-wrapper {
  text-align: right;
  display: block;
  flex-basis: 100%;
}