.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.header > h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--app-title);
}

.button {
  padding: .3rem 1rem;
  background-color: var(--button-bg);
  border-radius: 4px;
  margin-top: .5rem;
  color: var(--button-font);
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: border 85ms ease-in-out;
}
.button:hover {
  border-color: var(--button-border-hover);
}

@media (min-width: 375px){
  .header > h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}